{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Slider Section -->
        <div class="mb-4">
            <div class="bg-img-hero" style="background-image: url({{ asset("assets/img/1920X422/img1.jpg)") }}">
                <div class="container min-height-438 overflow-hidden">
                    <div class="js-slick-carousel u-slick"
                         data-pagi-classes="text-center position-absolute right-0 bottom-0 left-0 u-slick__pagination u-slick__pagination--long justify-content-start mb-3 mb-md-4 offset-xl-2 pl-xl-16 pl-wd-13">
                        <div class="js-slide">
                            <div class="row min-height-438 pt-7 py-md-0">
                                <div class="d-none d-xl-block col-auto">
                                    <div class="max-width-270 min-width-270"></div>
                                </div>
                                <div class="col-xl col col-md-6 mt-md-8 mt-lg-10">
                                    <div class="ml-xl-4">
                                        <h6 class="font-size-15 font-weight-bold mb-2 text-cyan"
                                            data-scs-animation-in="fadeInUp">
                                            SHOP TO GET WHAT YOU LOVE
                                        </h6>
                                        <h1 class="font-size-46 text-lh-50 font-weight-light mb-6"
                                            data-scs-animation-in="fadeInUp"
                                            data-scs-animation-delay="200">
                                            TIMEPIECES THAT MAKE A STATEMENT UP TO <stong class="font-weight-bold">40% OFF</stong>
                                        </h1>
                                        <a href="../shop/single-product-fullwidth.html" class="btn btn-primary transition-3d-hover rounded-lg font-weight-normal py-2 px-md-7 px-3 font-size-16"
                                           data-scs-animation-in="fadeInUp"
                                           data-scs-animation-delay="300">
                                            Start Buying
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-6 flex-horizontal-center ml-auto ml-md-0"
                                     data-scs-animation-in="fadeInRight"
                                     data-scs-animation-delay="500">
                                    <img class="img-fluid ml-auto mr-5 h-100" src="../../assets/img/416X420/img3.png" alt="Image Description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Section -->
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-wd-auto d-none d-xl-block">
                    <div class="max-width-270 min-width-270 ">
                        <!-- Latest Products -->
                        <aside class="mb-4">
                            <!-- Wrapper Latest Products -->
                            <div class="mb-2 position-relative">
                                <dv class="d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                                    <h3 class="section-title section-title__sm mb-0 pb-3 font-size-18">Latest Products</h3>
                                </dv>
                                <div class="js-slick-carousel u-slick u-slick--gutters-2 overflow-hidden u-slick-overflow-visble pt-3 position-static"
                                     data-slides-show="1"
                                     data-slides-scroll="1"
                                     data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                     data-arrow-left-classes="fa fa-angle-left right-1"
                                     data-arrow-right-classes="fa fa-angle-right right-0">
                                    <div class="js-slide">
                                        <ul class="list-unstyled products-group mb-0 overflow-visible">
                                            <li class="product-item__list pb-2 mb-2 pb-md-0 mb-md-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner py-md-3 mx-3 border-bottom row no-gutters">
                                                        <div class="col-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-70 d-block"><img class="img-fluid" src="../../assets/img/150X140/img1.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3">
                                                            <div class="mb-4">
                                                                <h5 class="product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-gray-90">Tablet Air 3 WiFi 64GB Gold</a></h5>
                                                            </div>
                                                            <div class="flex-center-between">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100 font-size-15 font-weight-bold">$629,00</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product-item__list pb-2 mb-2 pb-md-0 mb-md-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner py-md-3 mx-3 border-bottom row no-gutters">
                                                        <div class="col-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-70 d-block"><img class="img-fluid" src="../../assets/img/150X140/img2.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3">
                                                            <div class="mb-4">
                                                                <h5 class="product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-gray-90">Tablet White EliteBook  Revolve 810 G2</a></h5>
                                                            </div>
                                                            <div class="flex-center-between">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100 font-size-15 font-weight-bold">$1 299,00</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="js-slide">
                                        <ul class="list-unstyled products-group mb-0 overflow-visible">
                                            <li class="product-item__list pb-2 mb-2 pb-md-0 mb-md-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner py-md-3 mx-3 border-bottom row no-gutters">
                                                        <div class="col-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-70 d-block"><img class="img-fluid" src="../../assets/img/150X140/img1.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3">
                                                            <div class="mb-4">
                                                                <h5 class="product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-gray-90">Tablet Air 3 WiFi 64GB Gold</a></h5>
                                                            </div>
                                                            <div class="flex-center-between">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100 font-size-15 font-weight-bold">$629,00</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product-item__list pb-2 mb-2 pb-md-0 mb-md-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner py-md-3 mx-3 border-bottom row no-gutters">
                                                        <div class="col-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-70 d-block"><img class="img-fluid" src="../../assets/img/150X140/img2.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3">
                                                            <div class="mb-4">
                                                                <h5 class="product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-gray-90">Tablet White EliteBook  Revolve 810 G2</a></h5>
                                                            </div>
                                                            <div class="flex-center-between">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100 font-size-15 font-weight-bold">$1 299,00</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="js-slide">
                                        <ul class="list-unstyled products-group mb-0 overflow-visible">
                                            <li class="product-item__list pb-2 mb-2 pb-md-0 mb-md-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner py-md-3 mx-3 border-bottom row no-gutters">
                                                        <div class="col-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-70 d-block"><img class="img-fluid" src="../../assets/img/150X140/img1.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3">
                                                            <div class="mb-4">
                                                                <h5 class="product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-gray-90">Tablet Air 3 WiFi 64GB Gold</a></h5>
                                                            </div>
                                                            <div class="flex-center-between">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100 font-size-15 font-weight-bold">$629,00</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product-item__list pb-2 mb-2 pb-md-0 mb-md-0">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner py-md-3 mx-3 border-bottom row no-gutters">
                                                        <div class="col-auto product-media-left">
                                                            <a href="../shop/single-product-fullwidth.html" class="max-width-70 d-block"><img class="img-fluid" src="../../assets/img/150X140/img2.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="col product-item__body pl-2 pl-lg-3">
                                                            <div class="mb-4">
                                                                <h5 class="product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-gray-90">Tablet White EliteBook  Revolve 810 G2</a></h5>
                                                            </div>
                                                            <div class="flex-center-between">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100 font-size-15 font-weight-bold">$1 299,00</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Wrapper Latest Products -->
                        </aside>
                        <!-- End Latest Products -->
                        <!-- Feature List -->
                        <aside class="mb-8">
                            <div class="d-flex justify-content-center rounded border mb-4">
                                <div class="px-4 py-6 w-100">
                                    <!-- Feature List -->
                                    <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                        <div class="u-avatar mr-2">
                                            <i class="text-primary ec ec-transport font-size-46"></i>
                                        </div>
                                        <div class="media-body text-center">
                                            <span class="d-block font-weight-bold text-dark">Livraison</span>
                                            <div class=" text-secondary">a 1500 fr</div>
                                        </div>
                                    </div>
                                    <!-- End Feature List -->

                                    <!-- Feature List -->
                                    <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                        <div class="u-avatar mr-2">
                                            <i class="text-primary ec ec-customers font-size-56"></i>
                                        </div>
                                        <div class="media-body text-center">
                                            <span class="d-block font-weight-bold text-dark">99 % Customer</span>
                                            <div class=" text-secondary">Feedbacks</div>
                                        </div>
                                    </div>
                                    <!-- End Feature List -->

                                    <!-- Feature List -->
                                    <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                        <div class="u-avatar mr-2">
                                            <i class="text-primary ec ec-returning font-size-46"></i>
                                        </div>
                                        <div class="media-body text-center">
                                            <span class="d-block font-weight-bold text-dark">15 jours</span>
                                            <div class=" text-secondary">satisfait ou rembourser</div>
                                        </div>
                                    </div>
                                    <!-- End Feature List -->

                                    <!-- Feature List -->
                                    <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                        <div class="u-avatar mr-2">
                                            <i class="text-primary ec ec-payment font-size-46"></i>
                                        </div>
                                        <div class="media-body text-center">
                                            <span class="d-block font-weight-bold text-dark">Payment</span>
                                            <div class=" text-secondary">a la livraison</div>
                                        </div>
                                    </div>
                                    <!-- End Feature List -->

                                    <!-- Feature List -->
                                    <div class="media px-3" href="#">
                                        <div class="u-avatar mr-2">
                                            <i class="text-primary ec ec-tag font-size-46"></i>
                                        </div>
                                        <div class="media-body text-center">
                                            <span class="d-block font-weight-bold text-dark">les meilleurs produit</span>
                                            <div class=" text-secondary">Disponible</div>
                                        </div>
                                    </div>
                                    <!-- End Feature List -->
                                </div>
                            </div>
                        </aside>
                        <!-- End Feature List -->
                        <!-- Feature Product -->
                        <aside class="mb-8">
                            <!-- Featured Products -->
                            <div class="position-relative">
                                <div class="border-bottom border-color-1 mb-2">
                                    <h3 class="section-title mb-0 pb-3 font-size-18">Featured Products</h3>
                                </div>
                                <div class="js-slick-carousel u-slick position-static overflow-hidden u-slick-overflow-visble"
                                     data-slides-show="1"
                                     data-slides-scroll="1"
                                     data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                     data-arrow-left-classes="fa fa-angle-left right-1"
                                     data-arrow-right-classes="fa fa-angle-right right-0">
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img1.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img2.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img3.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img4.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img5.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img6.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img7.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img1.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide products-group">
                                        <div class="product-item remove-divider text-center">
                                            <div class="product-item__outer h-100">
                                                <div class="product-item__inner remove-prodcut-hover px-wd-4 p-2 p-md-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2">
                                                            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img1.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                        <h5 class="mb-4 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                        <div class="mb-1">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">$685,00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Featured Products -->
                        </aside>
                        <!-- End Feature Product -->
                    </div>
                </div>
                <div class="col-xl-9 col-wd-auto max-width-1130">
                    <!-- Tab Prodcut Section -->
                    <div class="mb-6">
                        <!-- Nav Classic -->
                        <div class="position-relative bg-white text-center z-index-2">
                            <ul class="nav nav-classic nav-tab justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active js-animation-link" id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="true"
                                       data-target="#pills-one-example1"
                                       data-link-group="groups"
                                       data-animation-in="slideInUp">
                                        <div class="d-md-flex justify-content-md-center align-items-md-center">
                                            Produit en reduction
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Nav Classic -->
                        <!-- Tab Content -->

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade pt-2 show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab" data-target-group="groups">
                                <ul class="row list-unstyled products-group no-gutters">
                                    {% for element in produits %}
                                        {% if element.getPrixReduit() is not null %}
                                            {% set detail = path('app_boutique_detail', { 'id': element.id }) %}
                                            <li class="col-6 col-md-4 col-xl product-item">
                                                <div class="product-item__outer h-100">
                                                    <div class="product-item__inner px-xl-4 p-3">
                                                        <div class="product-item__body pb-xl-2">
                                                            <div class="mb-2"><a href="{{ path('app_boutique_souscategorie', { 'id': element.sousCategorie.id }) }}" class="font-size-12 text-gray-5">{{ element.sousCategorie.nom }}</a></div>
                                                            <h5 class="mb-1 product-item__title"><a href="{{ path('app_boutique_detail') }}" class="text-blue font-weight-bold">{{ element.nom }}</a></h5>
                                                            <div class="mb-2">
                                                                <a href="{{ path('app_boutique_detail') }}" class="d-block text-center"><img class="img-fluid" src="{{ asset('assets/img/'~element.couvertureImg) }}" alt="Image Description" width="212" height="200"></a>
                                                            </div>
                                                            <div class="flex-center-between mb-1">
                                                                <div class="prodcut-price">
                                                                    <div class="text-gray-100">FCFA {{ element.prix }}</div>.
                                                                </div>
                                                                <div class="d-none d-xl-block prodcut-add-cart">
                                                                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                        <a href="{{path('app_login')}}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                    {% else %}
                                                                        {% for panier in paniers %}
                                                                            {% if panier.produit.id == produit.id %}
                                                                                <a href="{{ path("app_panier") }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-arrow-right-categproes"></i></a>
                                                                            {% else %}
                                                                                <a href="{{ path("add_panier", {'id' : produit.id}) }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-item__footer">
                                                            <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                    <a href="{{ path('app_login') }}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> J'aime</a>
                                                                {% else %}
                                                                    <a href="{{ path('app_souhait', {'id': element.id}) }}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> J'aime</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- End Tab Content -->
                    </div>
                    <!-- End Tab Prodcut Section -->
                    <!-- Full banner -->
                    <div class="mb-8">
                        <a href="{{ path("app_boutique") }}" class="d-block text-gray-90">
                            <div class="bg-img-hero pt-3" style="background-image: url({{ asset("assets/img/1400X206/img1.jpg") }});">
                                <div class="space-top-2-md p-4 pt-4 pt-md-5 pt-lg-6 pt-xl-5 pb-lg-4 px-xl-8 px-lg-6">
                                    <div class="flex-horizontal-center overflow-auto overflow-md-visble">
                                        <h1 class="text-lh-38 font-size-24 font-weight-light mb-0 flex-shrink-0 flex-md-shrink-1">SHOP AND <strong>SAVE BIG</strong> ON HOTTEST TABLETS</h1>
                                        <div class="flex-content-center ml-4 flex-shrink-0">
                                            <div class="bg-primary rounded-lg px-6 py-2">
                                                <em class="font-size-14 font-weight-light">STARTING AT</em>
                                                <div class="font-size-30 font-weight-bold text-lh-1">
                                                    <sup class="">$</sup>79<sup class="">99</sup>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End Full banner -->
                    {% set cpt = 0 %}
                    {% for categorie in categories %}
                        {% if cpt < 3 %}
                            <!-- Product-with-banner -->
                            <div class="mb-8">
                                <dv class=" d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                                    <h3 class="section-title mb-0 pb-2 font-size-22">{{ categorie.nom }}</h3>
                                </dv>
                                <div class="row">
                                    <div class="col-auto">
                                        <a href="{{ path("app_boutique_categorie", {'id' : categorie.id}) }}" class="d-block">
                                            <img class="img-fluid" src="{{ asset('assets/img/'~categorie.categorieImg) }}" alt="Image Description" width="212" height="305">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <ul class="row list-unstyled products-group no-gutters">
                                            {% for produit in produits %}
                                                {% set cpt_prod = 0 %}
                                                {% if categorie.id == produit.sousCategorie.categorie.id and cpt <= 3%}
                                                    <li class="col-6 col-md-4 col-wd-3 product-item">
                                                    <div class="product-item__outer h-100">
                                                        <div class="product-item__inner px-xl-4 p-3">
                                                            <div class="product-item__body pb-xl-2">
                                                                <div class="mb-2"><a href="{{ path("app_boutique_souscategorie", {'id' : produit.sousCategorie.id}) }}" class="font-size-12 text-gray-5">{{ produit.sousCategorie.nom }}</a></div>
                                                                <h5 class="mb-1 product-item__title"><a href="{{ path("app_boutique_detail", {'id' : produit.id}) }}" class="text-blue font-weight-bold"> {{ produit.nom}} </a></h5>
                                                                <div class="mb-2">
                                                                    <a href="{{ path("app_boutique_detail", {'id' : produit.id}) }}" class="d-block text-center"><img class="img-fluid" src="{{ asset('assets/img/'~produit.couvertureImg) }}" alt="Image Description"></a>
                                                                </div>
                                                                <div class="flex-center-between mb-1">
                                                                    <div class="prodcut-price">
                                                                        <div class="text-gray-100"> {{ produit.prix }} </div>
                                                                    </div>
                                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                            <a href="{{path('app_login')}}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                        {% else %}
                                                                            {% set id = [] %}
                                                                            {% for panier in paniers %}
                                                                                {% set id = id|merge([panier.produit.id]) %}
{#                                                                                {% if produit.id == panier.produit.id %}#}
{#                                                                                    <a href="{{ path("app_panier") }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-arrow-right-categproes"></i></a>#}
{#                                                                                    {% set break = true %}#}
{#                                                                                {% else %}#}
{#                                                                                    <a href="{{ path("add_panier", {'id' : produit.id}) }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>#}
{#                                                                                {% endif %}#}
                                                                            {% endfor %}
                                                                            {% if produit.id in id %}
                                                                                <a href="{{ path("app_panier") }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-arrow-right-categproes"></i></a>
                                                                                {% set break = true %}
                                                                            {% else %}
                                                                                <a href="{{ path("add_panier", {'id' : produit.id}) }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-item__footer">
                                                                <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                    <a href="{{ path("add_souhait", {'id' : produit.id}) }}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> J'aime</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                    {% set cpt_prod = cpt_prod + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product-with-banner -->
                            {% set cpt = cpt + 1 %}
                        {% elseif cpt == 3 %}
                            <!-- Banner 2 columns -->
                            <div class="mb-8">
                                <div class="row">
                                    <div class="col-md-6 mb-3 mb-md-0">
                                        <a href="../shop/shop.html">
                                            <img class="img-fluid" src="../../assets/img/536X150/img1.jpg" alt="Image Description">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="../shop/shop.html">
                                            <img class="img-fluid" src="../../assets/img/536X150/img2.jpg" alt="Image Description">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Banner 2 columns -->
                        {% else %}
                            <!-- Smartphones -->
                            <div class="position-relative">
                                <div class="border-bottom border-color-1 mb-2">
                                    <h3 class="section-title mb-0 pb-2 font-size-22">{{ categorie.nom }}</h3>
                                </div>
                                <div class="js-slick-carousel u-slick position-static overflow-hidden u-slick-overflow-visble pb-7 pt-2 px-1"
                                     data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-3 mt-md-0"
                                     data-slides-show="5"
                                     data-slides-scroll="1"
                                     data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                     data-arrow-left-classes="fa fa-angle-left right-1"
                                     data-arrow-right-classes="fa fa-angle-right right-0"
                                     data-responsive='[{
                                  "breakpoint": 1400,
                                  "settings": {
                                    "slidesToShow": 4
                                  }
                                }, {
                                    "breakpoint": 1200,
                                    "settings": {
                                      "slidesToShow": 3
                                    }
                                }, {
                                  "breakpoint": 992,
                                  "settings": {
                                    "slidesToShow": 3
                                  }
                                }, {
                                  "breakpoint": 768,
                                  "settings": {
                                    "slidesToShow": 2
                                  }
                                }, {
                                  "breakpoint": 554,
                                  "settings": {
                                    "slidesToShow": 2
                                  }
                                }]'>
                                    {% for produit in produits %}
                                        {% if categorie.id == produit.sousCategorie.categorie.id  %}
                                            <div class="js-slide products-group">
                                                <div class="product-item">
                                                    <div class="product-item__outer h-100">
                                                        <div class="product-item__inner px-wd-4 p-2 p-md-3">
                                                            <div class="product-item__body pb-xl-2">
                                                                <div class="mb-2"><a href="{{ path("app_boutique_souscategorie", {'id' : produit.sousCategorie.id}) }}" class="font-size-12 text-gray-5">{{ produit.sousCategorie.nom }}</a></div>
                                                                <h5 class="mb-1 product-item__title"><a href="{{ path("app_boutique_detail", {'id' : produit.id}) }}" class="text-blue font-weight-bold">{{ produit.nom }}</a></h5>
                                                                <div class="mb-2">
                                                                    <a href="{{ path("app_boutique_detail", {'id' : produit.id}) }}" class="d-block text-center"><img class="img-fluid" src="{{ produit.couvertureImg }}" alt="Image Description"></a>
                                                                </div>
                                                                <div class="flex-center-between mb-1">
                                                                    <div class="prodcut-price">
                                                                        <div class="text-gray-100">{{ produit.prix }}</div>
                                                                    </div>
                                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                            <a href="{{path('app_login')}}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                        {% else %}
                                                                            {% set id = [] %}
                                                                            {% for panier in paniers %}
                                                                                {% set id = id|merge([panier.produit.id]) %}
                                                                            {% endfor %}
                                                                            {% if produit.id in id %}
                                                                                <a href="{{ path("app_panier") }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-arrow-right-categproes"></i></a>
                                                                                {% set break = true %}
                                                                            {% else %}
                                                                                <a href="{{ path("add_panier", {'id' : produit.id}) }}" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-item__footer">
                                                                <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                    <a href="{{ path("add_souhait", {'id' : produit.id}) }}" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> J'aime </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- End Smartphones -->
                        {% endif %}
                    {% endfor %}

                    <!-- Recently viewed -->
                    {# <div class="position-relative">
                        <div class="border-bottom border-color-1 mb-2">
                            <h3 class="section-title mb-0 pb-2 font-size-22">Recently viewed</h3>
                        </div>
                        <div class="js-slick-carousel u-slick position-static overflow-hidden u-slick-overflow-visble pb-7 pt-2 px-1"
                             data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-3 mt-md-0"
                             data-slides-show="5"
                             data-slides-scroll="1"
                             data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                             data-arrow-left-classes="fa fa-angle-left right-1"
                             data-arrow-right-classes="fa fa-angle-right right-0"
                             data-responsive='[{
                                  "breakpoint": 1400,
                                  "settings": {
                                    "slidesToShow": 4
                                  }
                                }, {
                                    "breakpoint": 1200,
                                    "settings": {
                                      "slidesToShow": 3
                                    }
                                }, {
                                  "breakpoint": 992,
                                  "settings": {
                                    "slidesToShow": 3
                                  }
                                }, {
                                  "breakpoint": 768,
                                  "settings": {
                                    "slidesToShow": 2
                                  }
                                }, {
                                  "breakpoint": 554,
                                  "settings": {
                                    "slidesToShow": 2
                                  }
                                }]'>
                            <div class="js-slide products-group">
                                <div class="product-item">
                                    <div class="product-item__outer h-100">
                                        <div class="product-item__inner px-wd-4 p-2 p-md-3">
                                            <div class="product-item__body pb-xl-2">
                                                <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                                                <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                                                <div class="mb-2">
                                                    <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img1.jpg" alt="Image Description"></a>
                                                </div>
                                                <div class="flex-center-between mb-1">
                                                    <div class="prodcut-price">
                                                        <div class="text-gray-100">$685,00</div>
                                                    </div>
                                                    <div class="d-none d-xl-block prodcut-add-cart">
                                                        <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item__footer">
                                                <div class="border-top pt-2 flex-center-between flex-wrap">
                                                    <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                    <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}
                    <!-- End Recently viewed -->
                </div>
            </div>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

{% endblock %}