{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}

    <div class="container p-5 m-5">
        <div class="mb-10 cart-table">
            <div class="row">
                <div class="col text-start">Commande N°{{ commande_num }}</div>
                <div class="col text-end">{{ "now"|date("m/d/Y") }}</div>
            </div>
            <table class="table" cellspacing="0">
                <thead>
                <tr>
                    <th class="product-thumbnail">&nbsp;</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity w-lg-15">Quantity</th>
                    <th class="product-subtotal">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for panier in paniers %}
                    <tr class="">
                        <td class="d-none d-md-table-cell">
                            <a href="{{ path("app_boutique_detail", {'id': panier.produit.id}) }}"><img class="img-fluid max-width-100 p-1 border border-color-1" src="{{ panier.produit.couvertureImg }}" alt="Image Description" width="300" height="300"></a>
                        </td>

                        <td data-title="Product">
                            <a href="#" class="text-gray-90">{{ panier.produit.nom }}</a>
                        </td>

                        <td data-title="Price">
                            <span class="">{{ panier.produit.prix/100 }}</span>
                        </td>

                        <td data-title="Quantity">
                            <span class="">{{ panier.quantite }}</span>
                        </td>

                        <td data-title="Total">
                            {% set total = panier.prix * panier.quantite %}
                            <span class="">{{ total/100 }}</span>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6" class="border-top space-top-2 justify-content-center">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mb-8 cart-total">
            <div class="row">
                <div class="col-xl-5 col-lg-6 offset-lg-6 offset-xl-7 col-md-8 offset-md-4">
                    <div class="border-bottom border-color-1 mb-3">
                        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Cart totals</h3>
                    </div>
                    <table class="table mb-3 mb-md-0">
                        <tbody>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            {% set montant = 0 %}
                            {% for panier in paniers %}
                                {% set montant = montant + (panier.prix * panier.quantite) %}
                            {% endfor %}
                            {% set montant = montant / 100 %}
                            <td data-title="Subtotal"><span class="amount">{{ montant }}</span></td>
                        </tr>
                        <tr class="shipping">
                            <th>Shipping</th>
                            <td data-title="Shipping">
                                Frais de Livraison: <span class="amount">1500 fr</span>
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th>Total</th>
                            {% set total_final = (montant) + 1500 %}
                            <td data-title="Total"><strong><span class="amount">{{ total_final }}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-md-none">Proceed to checkout</button>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="row m-2">
                    {% set id_pro = [] %}
                    {% for panier in paniers %}
                        {% set id = id_pro|merge([panier.produit.id]) %}
                    {% endfor %}
                    <div class="col text-start"><a class="btn btn-danger" href="{{ path('app_comdsup', {'id': id_cmd }) }}">Annuler</a></div>
                    <div class="col text-end"><a class="btn btn-primary" href="{{ path('app_comdvalid', {'id': id_cmd}) }}">Valider commande</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}