{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="checkout-page">
        <!-- breadcrumb -->
        <div class="bg-gray-13 bg-md-transparent">
            <div class="container">
                <!-- breadcrumb -->
                <div class="my-md-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">Home</a></li>
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
                <!-- End breadcrumb -->
            </div>
        </div>
        <!-- End breadcrumb -->

        <div class="container">
            <div class="mb-5">
                <h1 class="text-center">Verification</h1>
            </div>
            {{ form_start(adresse_form) }}
                <div class="row">
                    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                        <div class="pl-lg-3 ">
                            <div class="bg-gray-1 rounded-lg">
                                <!-- Order Summary -->
                                <div class="p-4 mb-4 checkout-table">
                                    <!-- Title -->
                                    <div class="border-bottom border-color-1 mb-5">
                                        <h3 class="section-title mb-0 pb-2 font-size-25">Votre commande</h3>
                                    </div>
                                    <!-- End Title -->

                                    <!-- Product Content -->
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="product-name">Produits</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set montant = 0 %}
                                        {% for panier in paniers %}
                                            {% for produit in produits %}
                                                {% if panier.produit.id == produit.id %}
                                                    <tr class="cart_item">
                                                        <td> {{ produit.nom }}&nbsp;<strong class="product-quantity">× {{ panier.quantite }}</strong></td>
                                                        <td>{{ panier.prix/100  }}</td>
                                                        {% set montant = montant + panier.prix %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Sous total</th>
                                            <td>{{ montant/100 }}</td>
                                        </tr>
                                        <tr>
                                            <th>Livraison</th>
                                            <td>frais de livraison 1500 FCFA</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            {% set total = (montant/100) + 1500 %}
                                            <td><strong>{{ total }}</strong></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <!-- End Product Content -->
                                    <button type="submit" class="btn btn-primary-dark-w btn-block btn-pill font-size-20 mb-3 py-3">Place order</button>
                                </div>
                                <!-- End Order Summary -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 order-lg-1">
                        <div class="pb-7 mb-7">
                            <!-- Title -->
                            <div class="border-bottom border-color-1 mb-5">
                                <h3 class="section-title mb-0 pb-2 font-size-25">Addresse client</h3>
                            </div>
                            <!-- End Title -->

                            <!-- Billing Form -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Input -->
                                    <div class="js-form-message mb-6">
                                        <label class="form-label">
                                            Nom et Prenom
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form_widget(adresse_form.nom_prenom, {'attr': {'placeholder':'Arnaud Gunter'}})}}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-md-12">
                                    <!-- Input -->
                                    <div class="js-form-message mb-6">
                                        <label class="form-label">
                                            Contact
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form_widget(adresse_form.contact, {'attr': {'placeholder':'+225 0707070707'}})}}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="w-100"></div>

                                <div class="col-md-12">
                                    <!-- Input -->
                                    <div class="js-form-message mb-6">
                                        <label class="form-label">
                                            Ville
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form_widget(adresse_form.ville, {'attr': {'placeholder':'Abidjan'}})}}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-md-6">
                                    <!-- Input -->
                                    <div class="js-form-message mb-6">
                                        <label class="form-label">
                                            Commune
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form_widget(adresse_form.commune, {'attr': {'placeholder':'Yopougon'}})}}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-md-6">
                                    <!-- Input -->
                                    <div class="js-form-message mb-6">
                                        <label class="form-label">
                                            Quartier
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form_widget(adresse_form.quartier, {'attr': {'placeholder':'Siporex'}})}}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="w-100"></div>

                                <div class="w-100"></div>
                            </div>
                            <!-- End Billing Form -->
                            <div class="js-form-message mb-6">
                                <label class="form-label">Description</label>
                                <div class="input-group">
                                    {{ form_widget(adresse_form.description, {'attr': {'placeholder':'Decrivez si possible la zone de livraison. ex: a 100m sur la premeiere rue a droite pharmacie Siporex'}})}}
{#                                    <textarea class="form-control p-5" rows="4" name="text" placeholder="Decrivez si possible la zone de livraison. ex: non loin de la pharmacie Aurore"></textarea>#}
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>
                    </div>
                </div>
            {{ form_end(adresse_form) }}
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
